.postPopup{
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	background: #fff;
	min-height:300px;
	border-radius:6px;
	width:500px;
	z-index:999;
	box-shadow:1px 1px 5px 5px rgba(200,100,200,0.55);
	padding:10px;
}


.postPopup > .postPopup__headerItems{
	display: flex;
	box-shadow: 0px 1px 1px 0px rgba(200,200,200,0.5);
	padding:10px;
	align-items: center;
}
.postPopup  .postPopup__headerItems > h2{
	text-align: center;
	color:#000;
	flex:1;
}

.postPopup__clearIcon{
	background: #e5e5e5;
	padding:6px;
	border-radius: 50%;
}

.postPopup__clearIcon:hover{
	filter:brightness(0.9);
}

.postPopup .postPopup__userInfo{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding:10px 5px;
}

.postPopup .postPopup__userInfo div{
	padding-left: 10px;
}


.postPopup .postPopup__userInfo h4{
	color:#111;
}

.postPopup .postPopup__userInfo strong{
	color:#333;
	width:70px;
	display: flex;
	align-items: center;
	background:#e5e5e5;
	border-radius: 999px;
	justify-content: center;
}

.postPopup .postPopup__userInfo .postPopup__publicIcon{
	font-size: 18px;
	margin-right: 3px;
}

.postPopup input{
	width:100%;
	height:50px;
	font-size: 20px;
	border:none;
	outline:none;
}

.postPopup button{
	width: 100%;
	background-color: #2e81f4;
	color: #eff2f5;
	font-weight: 800;
	display: block;
}

.postPopup button:hover{
	background-color: #fff;
	color: #2e81f4;
}


.postPopup__imageUrl{
	width:100%;
	height:30px !important;
	font-size: 19px;
	box-shadow: 0px 1px 1px rgba(200,200,200,0.7);
	margin-bottom: 10px;
}


.postPopup__fileButton::-webkit-file-upload-button {
  visibility: hidden;
}
.postPopup__fileButton::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(to top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.postPopup__fileButton:hover::before {
  border-color: black;
}
.postPopup__fileButton:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}