.sidebar{
	padding: 25px 10px;
	flex: 0.33;
}

.SidebarRow{
	display: flex;
	align-items: center;
	padding: 10px;
	cursor: pointer;
}

.SidebarRow:hover{
	background-color: lightgray;
	border-radius: 10px;
}

.SidebarRow > h4{
	margin-left: 20px;
	font-weight: 600;
}

.SidebarRow > .MuiSvgIcon-root{
	font-size: xx-large;
	color:#2e81f4;
}

@media (min-width:1000px) {
	.sidebar{
		width:300px;
	}
}